{{!-- When the template is rendered and sent to the client, 
the expressions will be replaced by the correct data --}}

<ol class="post-list">
    {{!-- #each is a handlebars.js built-in helper that will allow you to 
    perform minimal logic like looping over an array. 
    Any HTML code in between the #each /each will be repeated for every item in posts 
    and declaring a variable name for the subsequent placeholders --}}
    {{#each posts as |post|}}

    {{!-- loop helper is required because this code was set up to receive an object with an id property, title property, and so on --}}
    <li>
        <article class="post">
            <div class="title">
                {{!-- each property is now of the post variable we declared --}}
                <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
                <span>({{post.post_url}})</span>
            </div>
            <div class="meta">
                {{!-- handlebar syntax can be used for content --}}
                {{post.vote_count}} point(s) by {{post.user.username}} on
                {{post.created_at}}
                |
                {{!-- as well as attributes in html --}}
                <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
            </div>
        </article>
    </li>

    {{!-- this is the end of the handlebars.js helper --}}
    {{/each}}

</ol>